<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Algerian Forest Fires API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href 'https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
 <div class="login">
	<h1>Algerian Forest Fires Prediction</h1>

     <!-- Main Input For class.html. predict_class API will be triggered here -->
     <!-- Method='post' makes this to call predict_class API -->
    <form action="{{ url_for('predict_class_html')}}" method="post">
      <input type="text" name="day" placeholder="day" required="required" /><br>
    	<input type="text" name="month" placeholder="month" required="required" /><br>
        <input type="text" name="year" placeholder="year" required="required" /><br>
        <input type="text" name="Temperature" placeholder="Temperature" required="required" /><br>
        <input type="text" name="Humidity" placeholder="Humidity" required="required" /><br>
        <input type="text" name="Ws" placeholder="Ws" required="required" /><br>
        <input type="text" name="Rain" placeholder="Rain" required="required" /><br>
        <input type="text" name="Fuel Moisture" placeholder="Fuel Moisture" required="required" /><br>
        <input type="text" name="Duff Moisture" placeholder="Duff Moisture" required="required" /><br>
        <input type="text" name="Drought" placeholder="Drought" required="required" /><br>
        <input type="text" name="Initial Speed Index" placeholder="Initial Speed Index" required="required" /><br>
        <input type="text" name="Buildup Index" placeholder="Buildup Index" required="required" /><br>
        <input type="text" name="Fire Weather Index" placeholder="Fire Weather Index" required="required" /><br>




        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Class</button>

    </form>

   <br>
   <br>


 </div>
 {{prediction_text}}

</body>
</html>
